@page "/missiondb/overview"
@inject YamcsClient client

<h1>Mission Database</h1>



@if (Mdbs == null)
{
    <p><em>Loading...</em></p>
    <div class="spinner"></div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Parameters: @Mdbs.ParameterCount</th>
                
            </tr>
            <tr>
                <th>Containers: @Mdbs.containerCount</th>
            </tr>
            <tr>
                <th>Commands: @Mdbs.CommandCount</th>
            </tr>
            <tr>
                <th>Algorithms: @Mdbs.AlgorithmCount</th>
            </tr>

        </thead>
        <tbody>

            @*<tr>
                <th>Parameters:</th>
                <td>@Mdbs.parameterCount</td>
            </tr>
            <tr>
                <td>@Mdbs.containerCount</td>
            </tr>
            <tr>
                <td>@Mdbs.commandCount</td>
            </tr>
            <tr>
                <td>@Mdbs.algorithmCount</td>
            </tr>*@

        </tbody>
    </table>
}

@code {
    private MissionDatabase  Mdbs;

    protected override async Task OnInitializedAsync()
    {
        Mdbs = await client.getMissionDatabase("simulator");
    }


}
